<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Forum Feed</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tributejs@5.1.3/dist/tribute.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsrender/jsrender.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tributejs@5.1.3/dist/tribute.min.js"></script>
</head>

<body>
  <div id="post-creation-form" class="post-form">
    <div id="post-editor" class="editor" contenteditable="true" data-placeholder="Write a post..."></div>
    <button id="submit-post">Post</button>
    <button id="upload-options" class="upload-options">Upload</button>
    <div id="upload-menu" class="upload-menu" style="display:none">
      <button class="upload-choice" data-type="image">Image</button>
      <button class="upload-choice" data-type="video">Video</button>
      <button class="upload-choice" data-type="audio">Audio</button>
      <button class="upload-choice" data-type="file">File</button>
    </div>
    <input type="file" id="file-input" class="file-input" style="display:none" />
  </div>

  <div id="forum-root"></div>

  <script id="tmpl-item" type="text/x-jsrender">
    <div class="item" data-uid="{{:uid}}" data-depth="{{:depth}}">
      {{if canDelete}}
        <button class="btn-delete" data-uid="{{:uid}}">Delete</button>
      {{/if}}
      <div class="author">
        <img class="avatar"
             src="{{:authorImage}}"
             alt="{{:authorName}}"
             onerror="this.onerror=null;this.src='https://files.ontraport.com/media/b0456fe87439430680b173369cc54cea.php03bzcx?Expires=4895186056&Signature=fw-mkSjms67rj5eIsiDF9QfHb4EAe29jfz~yn3XT0--8jLdK4OGkxWBZR9YHSh26ZAp5EHj~6g5CUUncgjztHHKU9c9ymvZYfSbPO9JGht~ZJnr2Gwmp6vsvIpYvE1pEywTeoigeyClFm1dHrS7VakQk9uYac4Sw0suU4MpRGYQPFB6w3HUw-eO5TvaOLabtuSlgdyGRie6Ve0R7kzU76uXDvlhhWGMZ7alNCTdS7txSgUOT8oL9pJP832UsasK4~M~Na0ku1oY-8a7GcvvVv6j7yE0V0COB9OP0FbC8z7eSdZ8r7avFK~f9Wl0SEfS6MkPQR2YwWjr55bbJJhZnZA__&Key-Pair-Id=APKAJVAAMVW6XQYWSTNA';">
        <div class="info">
          <span class="name">{{:authorName}}</span>
          <span class="timestamp">{{:timeAgo}}</span>
        </div>
      </div>
      <div class="content">{{:content}}</div>
      <div class="actions">
        <button class="btn-like"    data-uid="{{:uid}}">Like ({{:upvotes}})</button>
        {{if depth < 2}}
        <button class="btn-comment" data-uid="{{:uid}}">Comment</button>
      {{/if}}
      </div>
      {{if depth < 2}}
      <div class="ribbon" data-uid="{{:uid}}">
        {{:children.length}} {{:children.length === 1 ? 'Comment' : 'Comments'}}
      </div>
      {{/if}}

      {{if children.length && !isCollapsed}}
        <div class="children visible">
          {{for children}}
            {{include tmpl="#tmpl-item"/}}
          {{/for}}
        </div>
      {{/if}}
    </div>
  </script>


  <script src="handleFile.js"></script>
  <script src="variables.js"></script>
  <script src="queries.js"></script>
  <script src="app.js"></script>
</body>

</html>